* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin:0;
    font-family: 'Nova Round', cursive;
    
  }
  
  nav {
    height: 10vh;
    background: #68217e;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  .nav-links li a span{
      font-size: 8px;
  }
  .landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .landing h1 {
    margin: 100px;
    font-size: 50px;
    color: #ae5fce;
  }

.main-container{
    display:grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    width:100%;
    height: 100vh;
    justify-items: center;
    align-items: center;
    background-color: rgb(111, 38, 129)
}

.heading{
    align-self: end;
    animation-duration: 2s;
    animation-delay: 1s;
}
.scoreBoard{
    margin-bottom: 10px;
}
#player1Name{
    cursor:pointer;
}
#player2Name{
    cursor:pointer;
}
.game-board{
    width:40vh;
    height:40vh;
    display: grid;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(163, 65, 150);
}
.cell{
    width:1.2em;
    height:1.2em;
    cursor:pointer;
    border-radius: 5px;
    box-shadow: .5px 1px rgb(75, 70, 70);
    transition: all ease .5s;
    font-weight: bolder;
    font-size: 3em;
}
.cell:hover{
    box-shadow: 2px 3px rgb(75, 70, 70);
    transform: scale3d(1.1, 1.1, 0.3)

}
.reset{
    visibility: hidden;
    align-self: start;
    border-radius: 10px;
    border: 1px solid rgb(173, 104, 238);
    width: 150px;
    height:30px;
    background-color: violet;
    color: white;
    font-size: 1.2em;
    transition: all ease .5s;
    cursor: pointer;  
    animation-duration: 2s;
}
.reset:hover{
    box-shadow: 2px 3px rgb(75, 70, 70);
    transform: scale3d(1.2, 1.2, 0.3)
}
#winnerName{
    position : relative;
    visibility: hidden;
    font-size: 1.1em;
    color : white;

}
button:focus {outline:0;}
  
  @media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links {
      position: fixed;
      background: #68217e;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
    .landing {
      flex-direction: column;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }
  }
