* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --dark-primary-color:#2980b9;
    --primary-color: #3498db;
    --dark-secondary-color:#16a085;
    --secondary-color: #1abc9c;
    --success-color:#42e64f;
    --background-color:white;
    --scoreboard-color:black;
    --heading-color: black;
  }
  body {
    margin:0;
    font-family: 'Nova Round', cursive;
    overflow-y: hidden;
  white-space: nowrap;
  }
  
  nav {
    height: 6vh;
    background: var(--dark-primary-color);
    padding:20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}
  .nav-links li a span{
      font-size: 8px;
    }
  .heading{
      align-self: end;
      color:var(--heading-color);
      animation-duration: 1s;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  
/*google signin button*/
.google-button {
  height: 35px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:focus, .google-button:hover{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}
/**/
.main-container{
    display:grid;
    grid-template-rows: 1fr 2fr .5fr 1fr 1fr;
    width:100%;
    height: 100vh;
    justify-items: center;
    align-items: center;
    /*background-color: var(--background-color);*/
    background-color: white;
                                   
}
.scoreBoard{
    color:var(--scoreboard-color);
    margin-bottom: 10px;
}

#player1Name{
    cursor:pointer;
}
#player2Name{
    cursor:pointer;
}
.game-board{
    width:45vh;
    height:45vh;
    display: grid;
    margin-bottom: 10px;
    border-radius: 5px;
    justify-items: center;
    align-items: center;  
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--primary-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.cell{
    width:10vh;
    height:10vh;
    cursor:pointer;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition: all ease .5s;
    font-weight: bolder;
    font-size: 3em;
    background: var(--secondary-color);
    color:white;
}
.cell:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transform: scale3d(1.1, 1.1, 0.3)

}
.reset{
    visibility: hidden;
    align-self: start;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 150px;
    height:50px;
    background-color: var(--dark-secondary-color);
    color: white;
    font-size: 1.2em;
    transition: all ease .5s;
    cursor: pointer;  
    animation-duration: 2s;
}
.reset:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transform: scale3d(1.2, 1.2, 0.3)
}
#winnerName{
    position : relative;
    visibility: hidden;
    font-size: 1.1em;
    color : var(--scoreboard-color);

}
button:focus {outline:0;}
  
  @media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background: black;
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links {
      position: fixed;
      background: var(--dark-primary-color);
      left:0;
      top:0;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(80px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1500px at 90% -10%);
      -webkit-clip-path: circle(1500px at 90% -10%);
      pointer-events: all;
    }
    .landing {
      flex-direction: column;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }
  }
